node_modules
frontend/node_modules
backend/node_modules
.next
frontend/.next
backend/.next
dist
build
*.log
.env
frontend/.env
backend/.env
postgres_data
.vscode
.git
.gitignore
.DS_Store
*.sqlite
coverage
